html, body, #ctn-three{
  height: 100%;
	width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: rgb(36, 41, 46);
  color: #fff;
  text-align: center;
}

.css3d{ 
  position: absolute;
  top: 0; left: 0;
}